# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

go.work
.idea/*.xml

.idea/
.vscode/

# Ignore Java class file
Java/*.class
Java/condition/*.class
Java/operator/*.class
Java/primitivetype/*.class

out/
fundamental-programming.iml
.clj-kondo/
.vscode/
go.work
go.work.sum
fundamental-programming.iml

.lsp/
JavaScript/node_modules

# Ignore Gradle project-specific cache directory
.gradle
app/

# Ignore Gradle build output directory
