# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

go.work
.idea/

# Ignore Java class file
Java/*.class
Java/condition/*.class
Java/operator/*.class


.vscode/settings.json
out/production/fundamental-programming
fundamental-programming.iml
.clj-kondo/.cache/v1/

go.work
go.work.sum
fundamental-programming.iml

.lsp/