# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/go.work

/Java/
/learnIf.class
/loop.class

/Java/operator/
/compare.class
/logic.class