# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/go.work
/.idea/vcs.xml

# Ignore Java class file
/Java/loop.class
/Java/dataType.class
/Java/condition/condition.class

.vscode/
/out/production/fundamental-programming
/fundamental-programming.iml